* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.page {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 60px auto 60px;
    grid-template-areas:
                "logo logo nav nav nav nav nav nav nav nav"
                " content content content content content content content content content content"
                "foot foot foot foot foot foot foot foot foot foot";
}

h3 {
    grid-area: logo;
    background-color: #3498db;
    padding: 15px 15px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: nav;
    background-color: #3498db;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ecf0f1;
}

.page aside {
    grid-area: side;
    background-color: #ecf0f1;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    grid-area: content;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    grid-area: foot;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 15px;

}

input[type=text],
select,
textarea,
input[type=password],
input[type=email],
input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 15px;
    background-color: #f7f7f7;
    font-size: 16px;
}

label {
    padding: 12px 0;
    display: block;
    font-weight: bold;
    color: #333;
}

input[type=submit] {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #2980b9;
}

.container {
    border-radius: 5px;
    background-color: #ecf0f1;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}